<%= link_to "新しく作成する", new_admin_gym_path, method: :get, class: "btn btn-secondary" %>

<table class="table">
  <thead>
    <tr>
      <th>店舗名</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>月額</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @gyms.each do |gym| %>
    <tr>
      <td><%= gym.gym_name %></td>
      <td><%= gym.postcode %></td>
      <td><%= gym.address %></td>
      <td><%= gym.fee %></td>
      <td><%= link_to "編集する", edit_admin_gym_path(gym), method: :get, class: "btn btn-outline-secondary" %></td>
    </tr>
  <% end %>
  </tbody>
</table>