<div class="timeline">
    <div class="timeline_user">
      <div class="image_tag"><%= image_tag @training_record.user.get_profile_image(50,50), class: "rounded-circle", size: "50x50"  %></div>
      <div class="timeline_users_name"><strong><%= @training_record.user.name%></strong></div>
      <div class="date"><%= @training_record.created_at.strftime('%Y/%m/%d') %></div>
    </div>
      <div class="content">
        ＞<%= @training_record.content %>
      </div>
      <% @training_record.details.each do |detail| %>
        <div class="detail">
          <p><%= detail.menu.name %></p>
          <p><%= detail.weight %>kg</p>
          <p><%= detail.rep %>回</p>
          <p><%= detail.set %>セット</p>
        </div>
      <% end %>
      <div class="timeline_info">
          <i class="far fa-comment"></i><%= @training_record.post_comments.count %>
      </div>
      
       <%= link_to "投稿非表示", admin_training_record_path(@training_record, training_record: { content: "【この投稿は不適切として削除されました】" }),
                                 method: :patch, remote: true, 
                                 data: { confirm: "非表示にしてよろしいですか？" }, 
                                 class: "btn btn-danger" %>
  </div>

  <div class="comment_item">
    <% @training_record.post_comments.each do |post_comment| %>
    <div class="comment_user">
      <%= image_tag post_comment.user.get_profile_image(50,50) %>
      <div class="comment_user_name"><%= post_comment.user.name %></div>
      <div class="comment_date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></div>
    </div>
      <p class="comment_text">
        <%= post_comment.comment %>
      </p>
    <% end %>
  </div>