<!--training_record_newページの動的追加フォーム-->
<div class="nested-fields">
  <p>トレーニング種目</p>
    <%= f.collection_select :menu_id, Menu.all, :id, :name, options = { prompt: "種目を選択してください"} %>
  <div class="detail_row">
    <div class="detail_box">
      <p><重量></p>
        <%= f.text_field :weight %>
    </div>
    <div class="detail_box">
       <p><レップ数></p>
         <%= f.text_field :rep %>
    </div>
    <div class="detail_box">
       <p><セット数></p>
         <%= f.text_field :set %>
    </div>
   <%= link_to_remove_association "削除", f, class: "button_delete" %>
  </div>
</div>