<div class="timeline">
    <div class="timeline_user">
      <div class="image_tag"><%= image_tag @training_record.user.get_profile_image(50,50), class: "rounded-circle", size: "50x50"  %></div>
      <div class="timeline_users_name"><strong><%= @training_record.user.name%></strong></div>
      <div class="date"><%= @training_record.created_at.strftime('%Y/%m/%d') %></div>
    </div>
    <% if @training_record.image.attached? %>
      <%= image_tag @training_record.image %>
      <div class="tag-box">
        <% @training_record.tags.each do |tag| %>
          <span class="label"><%= tag.name %></span>
        <% end %>
      </div>
    <% end %>
      <div class="content" style="white-space:pre-wrap;" >
        <%= @training_record.content %>
      </div>
      <% @training_record.details.each do |detail| %>
        <div class="detail">
          <p><%= detail.menu.name %></p>
          <p><%= detail.weight %>kg</p>
          <p><%= detail.rep %>回</p>
          <p><%= detail.set %>セット</p>
        </div>
      <% end %>
      <div class="timeline_info">
        <!--非同期のためのid設定-->
        <div id="like_buttons_<%= @training_record.id %>">
          <%= render '/public/likes/like_btn', training_record: @training_record %>
        </div>
        <%= link_to training_record_path(@training_record.id), class: "link" do %>
          <i class="far fa-comment"></i><%= @training_record.post_comments.count %>
        <% end %>
        <% if @training_record.user == current_user %>
          <%= link_to training_record_path(@training_record), data: { confirm: '本当に消しますか？' },  method: :delete, class: "link training_record_delete" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
  </div>
  
    <%= render '/public/post_comments/comment_form', training_record: @training_record, post_comment: @post_comment %>
  
  
 
  <!--いいねした人一覧-->
  <!--<% @training_record.liked_users.each do |user| %>-->
  <!--<li><%=user.name %></li>-->
  <!--<% end%>-->
