<div class='container'>
  <%= @training_record.content %>
  <%= @detail.weight %>
  <%= @detail.rep %>
  <%= @detail.set %>
  <%= @menu.name %>

  <div>
    <p>コメント件数：<%= @training_record.post_comments.count %></p>
    <% @training_record.post_comments.each do |post_comment| %>
      <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
      <%= post_comment.user.name %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
        <% if post_comment.user == current_user %>
          <%= link_to "削除", training_record_post_comment_path(post_comment.training_record, post_comment), method: :delete, class: "link" %>
      <% end %>
    <% end %>
  </div>
  <div>
    <!--routingをネストしているため2つの引数を渡す-->
    <%= form_with model: [@training_record, @post_comment] do |f| %>
      <%= f.text_area :comment, placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
  
  <!--いいね-->
  <p>※自分の投稿にいいねできない機能要搭載（挙動確認のため最後の方に実装）</p>
  <div>
    <% if @training_record.liked_by?(current_user) %>
    <p>
      <%= link_to training_record_likes_path(@training_record), method: :delete, class: "link" do %>
        ♥<%= @training_record.likes.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to training_record_likes_path(@training_record), method: :post, class: "link" do %>
        ♡<%= @training_record.likes.count %> いいね
      <% end %>
    </p>
  <% end %>
  </div>
  <!--いいねした人一覧-->
  <% @training_record.liked_users.each do |user| %>
  <li><%=user.name %></li>
  <% end%>
</div>