<section class="profile">
    <div class="profile_image">
        <%= image_tag user.get_profile_image(100,100), class: "rounded-circle", size: "100x100" %>
    </div>
    <h4 class="user_name"><strong><%= user.name%></strong></h4>
    <p><%= user.description%></p>
    <div class="users_info">
        <p>登録ジム：　<%= user.gym.gym_name %></p>
        <p>お気に入りジム：　<%= user.favorite_gyms.count %></p>
        <p><%= user.followeds.count %>フォロー　<%= user.followers.count %>フォロワー</p>
        <%= link_to '編集する', user_profile_path %>
         <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    </div>
</section>
<section>
    <%= link_to 'タイムライン', user_profile_path %>
    <%= link_to 'マイページ', user_path(current_user.id) %>
    <%= link_to '記録する', user_profile_path %>
</section>

