<div class="profile">
  <div class="profile_head">
    <%= image_tag @user.get_profile_image(150,150), class: "rounded-circle", size: "150x150"  %>
    <div class="user_follow_info"><%= @user.training_records.count %>投稿　<%= @user.followeds.count %>フォロー　<%= @user.followers.count %>フォロワー</div>
  </div>
  <div class="user_info user_name"><strong><%= @user.name%></strong></div>
  <div class="user_info"><%= @user.description%></div>
  <div class="user_info"><%= @users_gym.gym_name%></div>
</div>
<% if current_user != @user %>
  <% if current_user.following?(@user) %>
    <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-danger" %>
  <% else %>
    <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class:"btn btn-success" %>
  <% end %>
<% else %>
  <%= link_to "プロフィール編集", user_profile_path, class:"btn btn-success" %>
<% end %>
<%= render '/layouts/timeline', training_records: @training_records %>