<div class="show_profile">
  <div class="profile_head">
    <%= image_tag @user.get_profile_image(150,150), class: "rounded-circle", size: "150x150"  %>
    <div class="user_follow_info">
      <div class="user_follow_info_item">
        <%= @user.training_records.count %>投稿
      </div>
      <%= link_to user_followings_path(@user.id), class: "user_follow_info_item" do %>  
        <%= @user.followers.count %>フォロー
      <% end %>
      <%= link_to user_followers_path(@user.id), class: "user_follow_info_item" do %>
        <%= @user.followeds.count %>フォロワー
      <% end %>
      <%= link_to user_favorite_gyms_path(@user.id), class: "user_follow_info_item" do %>
        <%= @user.favorite_gyms.count %>お気に入りジム
      <% end %>
    </div>
</div>
  <div class="user_info">
    <div class="user_name"><strong><%= @user.name%></strong></div>
    <div class="show_user_description" style="white-space:pre-wrap;" ><%= @user.description%></div>
    <div class="show_user_gym">登録ジム：<%= @users_gym.gym_name%></div>
  </div>
</div>
<% if current_user != @user %>
<!--非同期のためのid設定-->
  <div id="follow_btn_<%= @user.id %>">
    <%= render '/public/relationships/follow_btn', user: @user %>
  </div>
<% else %>
  <% if @user.email != "guest@example.com" %>
    <%= link_to "プロフィール編集", user_profile_path, class:"link edit_btn" %>
  <% end %>
<% end %>
<%= render '/public/training_records/timeline', training_records: @training_records %>