<!DOCTYPE html>
<html>
  <head>
    <title>Joytore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/15ed15601f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <header>
      <div class="header">
        
        <% if admin_signed_in?%> 
          <%= link_to admin_top_path, class: "header_name" do %>
             <img src='/assets/joytore_logo.png' width="200">
          <% end %>
        <% else %>
          <%= link_to root_path, class: "header_name" do %>
            <img src='/assets/joytore_logo.png' width="200">
          <% end %>
        <% end %>
      </div>
    </header>
        <% if user_signed_in? %>
          <%= render '/layouts/search' %>
        <% end %>

    <div class="main">
      <% if user_signed_in? %>
        <div class="sideber">
          <%= render '/public/users/side_ber', user: current_user %>
        </div>
      <% end %>
      <div class="main_content">
        <%= yield %>
      </div>
      <div class="left_sideber"></div>
    </div>
  </body>
</html>
